@model design.Models.T_Shop_Order

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Person/Views/Shared/_PersonLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>T_Shop_Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConnectorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConnectorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConnectorAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConnectorAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConnectorPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConnectorPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_Shop_Buyer.LoginName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_Shop_Buyer.LoginName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
